<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.test.car.car_app_service.PlacesCarAppService"
            android:permission="android.permission.BIND_CAR_APP_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.POI" />
            </intent-filter>
        </service>


    </application>
</manifest>